*{  margin: 0px;
    padding: 0px;
    top: 0%;
    left: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');


.container::before{
    content: "";
    background: url("bg5.jpg") no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container{
    font-family: 'Langar', cursive;
}

.box1{
    height: 400px;
    padding-top: 55px;
}

h1{ 
    display: inline-block;
    font-size: 4rem;
    padding-left: 85px;
    color: white;
    text-shadow: -4px 2px 3px #109790;
}

.box2{
    display: flex;
    justify-content: center;
}

.urlBox{
    display: flex;
    border-radius: 15px;
    width: 50%;
    
}


.btn{
    background-color: rgb(38 85 111);
    color: white;
    border-radius: 15px;
    font-size: 18px;
    padding: 0px 3px;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
    width: 8rem;
}


.urlBox input{
    font-family: 'Langar', cursive;
    font-size: 18px;
    padding: 9px 12px;
    border-radius: 16px;
    outline: none ;
    width: 80%;
    border: 2px solid white;
}

.btn:hover{
    background-color: rgb(196, 142, 42);
    color: white;
    border: 2px solid wheat;
    
}

#animatedText{
    font-family: 'Langar', cursive;
    display: inline-block;
    border: 2px solid white;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2% ;
    margin-left: 14% ;
    color: white;
    background-color: rgb(34 87 110);
    padding: 10px 20px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

#animatedText:after {
    content:"";
    animation: animatedText 3s linear infinite;
  }

@keyframes animatedText{
    0%{
        content: "Simple";
    }
    50%{
        content: "Better";
    }
    100%{
        content: "Faster";
    }
}

::placeholder{
    color: rgba(0, 0, 0, 0.664);
}

.git{
    font-family: 'Langar', cursive;    
    background-color:rgb(38 85 111);
    border: 1px solid white;
    font-size: 1.2rem;
    float: right;
    margin-right: 35px ;
    padding: 0.7rem;
    border-radius: 15px;
    cursor: pointer;

    outline: none;

}

a .git{
    text-decoration: none;
    color: white;
}

a .git:hover{
    background-color: rgb(196, 142, 42);
}

a .git i{
    font-size: 1.4rem;
}
